body {
	font-size: 20px;
	font-family: sans-serif;
	overflow: hidden;
}

button {
	font-size: 25px;
}

#header {
	position: fixed;
	top:0px;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#pageTitle {
	line-height: 25px;
	font-size: 20px;
}

.page {
	padding-top: 50px;
	padding-bottom:100px;
}

#links {
	position: absolute;
	top:0px;
	right:0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.headerLink {
	float: right;
	display: inline-block;
}

.clear {
	clear: both;
}

#homeButtons > button {
	width: 100%;
}

#info {
	text-align: center;
}

.footer {
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: white;
	color: black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footerButton {
	width: 50%;
}

.map {
	width: 100%;
	overflow: hidden;
}

.knurl {
	background-color: lightgray;
	margin-top:-10px;
}

.menuOptions .selected {
	background-color: lightgray;
}