body {
	font-size: 20px;
	font-family: sans-serif;
	overflow: hidden;
	background-color: #f5f0f1;
}

button {
	font-size: 25px;
}

#header {
	position: fixed;
	top:0px;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px black solid;
}

#pageTitle {
	line-height: 25px;
	font-size: 20px;
}

.page {
	padding-top: 46px; 
	padding-bottom: 0px;
	padding-bottom:100px;
	background-color: #f5f0f1;
	height:100%;
	width:100%;
}

#links {
	position: absolute;
	top:0px;
	right:0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.headerLink {
	float: right;
	display: inline-block;
}

.clear {
	clear: both;
}

#homeButtons > button {
	width: 100%;
}

#info {
	text-align: center;
}

.footer {
	border-top: 1px black solid;
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: white;
	color: black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footerButton {
	width: 50%;
}

.map {
	width: 100%;
	overflow: hidden;
}

.subMenu {
	padding-left:15px;
	padding-top:15px;
}

.menuTitle {
	font-weight: bold;
	padding-bottom: 5px;
}

.menuOptions {
	padding-left:10px;
}

li {
	/*width: 100%;*/
}

li, .addButton, .editButton{
	position: relative;
	padding:5px;
	padding-left:10px;
}

.iconButton {
	position:absolute;
	bottom:5px;
	padding-left:5px;
}

.knurl {
	background-color: lightgray;
	margin-top:-10px;
}

.menuOptions .selected {
	background-color: lightgray;
	border: 1px solid black;
}

.carColor {
	/*width:100%;*/
	padding:10px;
}

#colorCol1 {
	float:left;
}

#colorCol2 {
	float:left;
}

#colorCol3 {
	float:left;
}

input {
	height:30px;
	width:150px;
	font-size: 20px;
}